:root {
    --background-color: #08101F;
    --text-basic: #FFFFFF;
    --primary: #4A98D0;

    --arrow-border: 2px solid #ffffff;

    --fade-animation-duration: 500ms;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.fade-out {
    animation-name: fade-out;
    animation-duration: var(--fade-animation-duration);
}

.fade-in {
    animation-name: fade-in;
    animation-duration: var(--fade-animation-duration);
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;

    color: var(--text-basic);

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1, ul {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;

    padding: 24px 64px;
}

.header__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-label {
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 0 12px;
}

.navigation__list {
    list-style-type: none;
}

.navigation, .navigation__list {
    display: flex;

    justify-content: center;
    align-items: center;
}

.navigation__item {
    margin: 0 0 0 64px;
}

.navigation__link {
    color: var(--primary);
    text-decoration: none;
    font-size: 18px;
    position: relative;

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		margin: -5px 0;
		background-color: var(--primary);
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.4s ease-in-out 0s;
	}

	&:hover:before {
		visibility: visible;
		transform: scaleX(1);
	}
}

.about-section__image {
    position: absolute;

    top: 0;
    left: 0;
    z-index: -1;

    width: 660px;
    object-fit: contain;
}

.about-section {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

.about-section__description-text {
    max-width: 51%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section__heading {
    font-size: 48px;
}

.about-section__list {
    margin: 32px 0 0 0;
}

.about-section__item {
    margin: 0 0 32px 0;
    font-size: 20px;
}

.about-section__invitation {
    margin: 128px 0 0 0;

    text-align: center;
    color: var(--primary);
    font-size: 24px;
}

.gallery {
    margin: 256px 0 0 0;
}

.gallery__carousel {
    display: flex;
    overflow: hidden;
}

.gallery__heading {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.gallery__carousel-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery__image {
    margin: 0 0 0 12px;
}

.gallery__carousel-wrapper {
    margin: 64px 0 0 0;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0 24px;
}

.gallery__button {
    background-color: transparent;
    border: none;
    outline: none;
}

.gallery__carousel-previous::before {
    content: " ";
    border-left: var(--arrow-border);
    border-bottom: var(--arrow-border);
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    cursor: pointer;
    display: block;
}

.gallery__carousel-next::before {
    content: " ";
    border-right: var(--arrow-border);
    border-top: var(--arrow-border);
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    cursor: pointer;
    display: block;
}

.feedback {
    margin: 256px 0 0 0; 
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;

    flex-direction: column;
}

.feedback__heading {
    margin: 126px 0 0 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.feedback__image-left {
    position: absolute;
    left: 0;

    z-index: -1;
    object-fit: contain;
    height: 780px;
}

.feedback__image-right {
    right: 0;
    position: absolute;

    z-index: -1;
    object-fit: contain;
    height: 780px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.feedback__field-wrapper {
    margin: 32px 0 0 0;
    position: relative;
}

.feedback__form input {
    width: 100%;
    height: 100%;
    color: var(--primary);
    padding-top: 20px;
    border: none;
    background-color: transparent;
    font-size: 34px;
}

.feedback__form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid var(--primary);
}
  
.content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
    color: var(--primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.feedback__form input:focus {
    outline: none;
}

.feedback__form input:focus + .label-name .content-name,
.feedback__form input:valid + .label-name .content-name {
    transform: translateY(-130%);
    font-size: 20px;
    left: 0px;
    color: var(--primary);
}
.feedback__form input:focus + .label-name::after,
.feedback__form input:valid + .label-name::after {
    transform: translateX(0%);
}

.feedback__button-wrapper {
    display: flex;
    justify-content: end;
}

.feedback__button {
    margin: 28px 0 0 0;
    max-width: 120px;

    font-size: 20px;
    font-weight: 700;

    background-color: transparent;

    color: var(--primary);

    outline: none;
    border: none;
    cursor: pointer;
}
