:root {
    --background-color: #08101F;
    --text-basic: #FFFFFF;
    --primary: #4A98D0;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;

    color: var(--text-basic);

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1, ul {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;

    padding: 24px 64px;
}

.header__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-label {
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 0 12px;
}

.navigation__list {
    list-style-type: none;
}

.navigation, .navigation__list {
    display: flex;

    justify-content: center;
    align-items: center;
}

.navigation__item {
    margin: 0 0 0 64px;
}

.navigation__link {
    color: var(--primary);
    text-decoration: none;
    font-size: 18px;
    position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		margin: -5px 0;
		background-color: var(--primary);
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.4s ease-in-out 0s;
	}
	&:hover:before {
		visibility: visible;
		transform: scaleX(1);
	}
}

.about-section__image {
    position: absolute;

    top: 0;
    left: 0;
    z-index: -1;

    width: 660px;
    object-fit: contain;
}

.about-section {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

.about-section__description-text {
    max-width: 51%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section__heading {
    font-size: 48px;
}

.about-section__list {
    margin: 32px 0 0 0;
}

.about-section__item {
    margin: 0 0 32px 0;
    font-size: 20px;
}

.about-section__invitation {
    margin: 128px 0 0 0;

    text-align: center;
    color: var(--primary);
    font-size: 24px;
}

.gallery {
    margin: 256px 0 0 0;
}

.gallery__carousel {
}

.gallery__heading {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.gallery__carousel-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery__image {
    margin: 0 0 0 12px;
}

.zapis {
    margin: 256px 0 0 0; 
    display: flex; 
    flex: 1;
    justify-content: space-between;  
}

.zapis__heading {
    margin: 126px 0 0 0;
    font-size: 30px;
    font-weight: 700;
    
}

.appointment-section__image-left {
    z-index: -1;
    object-fit: contain;
    height: 780px;
    left: 0;
}

.appointment-section__image-right {
    z-index: -1;
    object-fit: contain;
    height: 780px;
    right: 0;
    margin: 0 0 0 0;
}

